body {
  width: 100%;
  height: 100%;
  border: 20px solid #182c61;
  border-bottom:0;
}

.container{
  margin: 0!important;
  max-width: 100%;
  padding: 2%;
}

img {
  border-radius: 8px;
  box-shadow: 0 0 20px 0px gray;
}

.row {
  text-align: center;
  padding: 0;
}

#left>div{
  background-color: #182C61;
  padding: 20px;
  color: white;
}

#left .foto {
  padding-bottom: 20px;
}

#left #title {
  font-weight: bold;
}

#left img, #right img{
  padding: 2%;
  height: 35%;
  width: 100%;
  object-fit: cover;
}

#right img {
  margin-top: 5%;
  margin-bottom: 5%;
}

#right img:first-child{
  margin-top: 0;
}

.author{
  color: #fff;
  text-decoration: underline;
}

.author:hover{
  color: #007bff;
}

footer {
  color: #fff;
  background-color: #182C61;
}

footer p{
  margin: 0;
}
